@using TheatreWebApp.Models.Tickets

@model TicketQueryModel

@{
    ViewData["Title"] = "My Reservations";

}

<div class="text-center">
    <h1>My Reservations</h1>

    <p>
        @if (Model.ShowAll == false)
        {

            <a asp-controller="Tickets" asp-action="All" asp-route-showAll="true">Show all</a>
        }
        else
        {
            <a asp-controller="Tickets" asp-action="All" asp-route-showAll="false">Upcoming shows</a>
        }
    </p>

</div>



<hr />
<div class="offset-md-2 col-md-8">
    @foreach (var ticket in Model.Tickets)
    {

        var seats = string.Join(", ", ticket.SeatNumbers);



        <div class="card w-100 mb-4">
            <div class="card-body">
                <h5 class="card-title">@ticket.PlayName</h5>
                <h6 class="card-subtitle mb-2 text-muted">@ticket.StageName</h6>
                <p class="card-text">@ticket.Time -- Seats: @seats -- Price: @ticket.TotalPrice</p>
                <p>Reservations Status: @ticket.Status</p>
                <p>Created on: @ticket.CreatedOn</p>
                @if (ticket.Status == "Unconfirmed")
                {
                    <a href="#" class="card-link">Cancel</a>
                    <a href="#" class="card-link">Confirm and pay</a>
                }
                else if (ticket.Status == "Paid")
                {
                    <a asp-controller="Tickets" asp-action="Print" asp-route-ticketId="@ticket.TicketId">Print tickets</a>
                }
            </div>
        </div>
    }
</div>


@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalTickets / TicketQueryModel.TicketsPerPage);
}

<div class="row justify-content-center mb-2">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Tickets"
           asp-action="All"
           asp-route-currentPage="@previousPage"><<</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                                     !Model.Tickets.Any();
    }

    <div class="col-md-6">
        <a class="btn btn-primary float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
           asp-controller="Tickets"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)">>></a>
    </div>
</div>

