@using TheatreWebApp.Models.Tickets

@model IEnumerable<TicketViewModel>

@{
    ViewData["Title"] = "My Reservations";
}



<div class="offset-md-2 col-md-8">
    @foreach (var ticket in Model)
    {

        var seats = string.Join(", ", ticket.SeatNumbers);



        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title">@ticket.PlayName</h5>
                <h6 class="card-subtitle mb-2 text-muted">@ticket.StageName</h6>
                <p class="card-text">@ticket.Time -- Seats: @seats -- Price: @ticket.TotalPrice</p>
                <p>Reservations Status: @ticket.Status</p>
                <p>Created on: @ticket.CreatedOn</p>
                @if (ticket.Status == "Unconfirmed")
                {
                    <a href="#" class="card-link">Cancel</a>
                    <a href="#" class="card-link">Confirm and pay</a>
                }
                else if (ticket.Status == "Paid")
                {
                    <a href="#" class="card-link">Print tickets</a>
                }
            </div>
        </div>
    }
</div>
