@using TheatreWebApp.Models.Tickets

@model BookingFormModel

@{
    ViewData["Title"] = "Book Seats";
}



<div class="col-sm-12 offset-lg-2 col-lg-8">
    <h1 class="text-center">@Model.PlayName</h1>

    <p class="text-center">@Model.StageName</p>

    <p class="text-center">@Model.Time</p>
</div>


@{
    var rowCount = 1;

}


<form method="post">
    <div>
        @if (Model.StageName == "Big stage")
        {
            <div class="row mb-5">
                <div class="col-md-6">
                    <button class="btn btn-primary" type="submit" name="currentPage" @(Model.CurrentPage == 1 ? "disabled" : string.Empty) value="1">Stalls</button>
                </div>

                <div class="col-md-6">
                    <button class="btn btn-primary" type="submit" name="currentPage" @(Model.CurrentPage == 2 ? "disabled" : string.Empty) value="2">Gallery One</button>
                </div>

                <div class="col-md-6">
                    <button class="btn btn-primary" type="submit" name="currentPage" @(Model.CurrentPage == 3 ? "disabled" : string.Empty) value="3">Gallery Three</button>
                </div>
            </div>
        }

        <input type="hidden" asp-for="PlayName" value="@Model.PlayName">
        <input type="hidden" asp-for="StageName" value="@Model.StageName">
        <input type="hidden" asp-for="Time" value="@Model.Time">
        <input type="hidden" asp-for="ShowId" value="@Model.ShowId">
        <input type="hidden" asp-for="CurrentPage" value="@Model.CurrentPage">
        @if (Model.SelectedSeats != null)
        {
            <input type="hidden" asp-for="SelectedSeats" value="@Model.SelectedSeats">
        }

        @foreach (var seat in Model.Seats)
        {
            @if (seat.Row != rowCount)
            {
                rowCount++;

                <br>
            }


            @if (seat.IsTaken)
            {
                <button class="btn btn-warning" type="submit" disabled name="SelectedSeatId" value="@seat.Id">@seat.Number</button>
            }
            else if (seat.IsSelected)
            {
                <button class="btn btn-primary" type="submit" name="SelectedSeatId" value="@seat.Id">@seat.Number</button>
            }
            else
            {
                <button class="btn btn-secondary" type="submit" name="SelectedSeatId" value="@seat.Id">@seat.Number</button>
            }

        }
    </div>
</form>
<div>
    <a class="btn btn-primary"  asp-controller="Tickets" asp-action="Review" asp-route-showId="@Model.ShowId" asp-route-selectedSeats="@Model.SelectedSeats">Book Seats</a>
</div>
