@using TheatreWebApp.Models.Tickets

@model BookingFormModel

@{
    ViewData["Title"] = "Book Seats";
}



<div class="col-sm-12 offset-lg-2 col-lg-8">
    <h1 class="text-center">@Model.PlayName</h1>

    <p class="text-center">@Model.StageName</p>

    <p class="text-center">@Model.Time</p>
</div>


<form method="post">
    <div>
        @if (Model.StageName == "Big stage")
        {
            <div class="row justify-content-center mb-2">
                <div style="padding: 5px">
                    <button class="btn btn-primary" type="submit" name="currentPage" @(Model.CurrentPage == 1 ? "disabled" : string.Empty) value="1">Stalls</button>
                </div>

                <div style="padding: 5px">
                    <button class="btn btn-primary" type="submit" name="currentPage" @(Model.CurrentPage == 2 ? "disabled" : string.Empty) value="2">Gallery One</button>
                </div>

                <div style="padding: 5px">
                    <button class="btn btn-primary" type="submit" name="currentPage" @(Model.CurrentPage == 3 ? "disabled" : string.Empty) value="3">Gallery Three</button>
                </div>
            </div>
        }

        <input type="hidden" asp-for="PlayName" value="@Model.PlayName">
        <input type="hidden" asp-for="StageName" value="@Model.StageName">
        <input type="hidden" asp-for="Time" value="@Model.Time">
        <input type="hidden" asp-for="ShowId" value="@Model.ShowId">
        <input type="hidden" asp-for="CurrentPage" value="@Model.CurrentPage">
        @if (Model.SelectedSeats != null)
        {
            <input type="hidden" asp-for="SelectedSeats" value="@Model.SelectedSeats">
        }
    </div>

    <hr />
    <div class="row justify-content-center">
        <div>Stage</div>
    </div>
    <hr />

    @{
        var rowIndexMax = 0;
        var rowIndexMin = 0;
        var rowIndexIncrease = 0;
    }


    @foreach (var row in Model.Rows)
    {
        if (row == 1)
        {
            rowIndexMax = 20;
            rowIndexIncrease = 20;
        }
        else if (row == 16)
        {
            rowIndexMax = 30;
            rowIndexIncrease = 30;
        }
        else if (row == 21)
        {
            rowIndexMax = 25;
            rowIndexIncrease = 25;
        }


        @if (rowIndexMax > Model.Seats.Count())
        {
            rowIndexMax = Model.Seats.Count();
        }

        if (row < 16)
        {
            <div class="row justify-content-center">

                <div style="padding: 5px">

                    @for (int i = rowIndexMin; i < rowIndexMax; i++)
                    {
                        <partial name="_SeatPartial" model="@Model.Seats[i]" />               
                    }

                </div>

            </div>
        }


        if (row > 15 && row < 21)
        {
            <div class="row justify-content-center">

                <div style="padding: 5px">

                    @for (int i = rowIndexMin; i < rowIndexMax; i++)
                    {
                        if (i < rowIndexMin + 10)
                        {
                            <partial name="_SeatPartial" model="@Model.Seats[i]" />
                        }
                        else if (i > rowIndexMin + 20)
                        {
                            <partial name="_SeatPartial" model="@Model.Seats[i]" />
                        }
                        else
                        {
                            <span></span>
                        }

                    }

                </div>
            </div>


            <div class="row justify-content-center">

                <div style="padding: 5px">

                    @for (int i = rowIndexMin; i < rowIndexMax; i++)
                    {
                        if (i < rowIndexMin + 10)
                        {
                            <span></span>
                        }
                        else if (i > rowIndexMin + 20)
                        {

                        }
                        else
                        {
                            <partial name="_SeatPartial" model="@Model.Seats[i]" />
                        }

                    }

                </div>
            </div>
        }

        if (row > 20)
        {
            <div class="row justify-content-center">

                <div style="padding: 5px">

                    @for (int i = rowIndexMin; i < rowIndexMax; i++)
                    {
                        if (i < rowIndexMin + 9)
                        {
                            <partial name="_SeatPartial" model="@Model.Seats[i]" />
                        }
                        else if (i > rowIndexMin + 18)
                        {
                            <partial name="_SeatPartial" model="@Model.Seats[i]" />
                        }
                        else
                        {
                            <span></span>
                        }

                    }

                </div>
            </div>


            <div class="row justify-content-center">

                <div style="padding: 5px">

                    @for (int i = rowIndexMin; i < rowIndexMax; i++)
                    {
                        if (i < rowIndexMin + 9)
                        {
                            <span></span>
                        }
                        else if (i > rowIndexMin + 18)
                        {

                        }
                        else
                        {
                            <partial name="_SeatPartial" model="@Model.Seats[i]" />
                        }

                    }

                </div>
            </div>
        }




        rowIndexMin = rowIndexMax;
        rowIndexMax = rowIndexMax + rowIndexIncrease;

    }
</form>

<div class="row justify-content-center mt-2">
    <a class="btn btn-primary"  asp-controller="Tickets" asp-action="Review" asp-route-showId="@Model.ShowId" asp-route-selectedSeats="@Model.SelectedSeats">Book Seats</a>
</div>
