@using TheatreWebApp.Models.Stages

@model StageConfigModel

@{
    ViewData["Title"] = "Stage Configuration";
}

<form method="post">
    <div class="col-sm-12 offset-lg-2 col-lg-8">
        <h2 class="text-center">Configure stage</h2>

        <div class="form-group">
            <label asp-for="Id">Stage</label>
            <select asp-for="Id" class="form-control">
                @foreach (var stage in Model.Stages)
                {
                    <option value="@stage.Id">@stage.Name</option>
                }
            </select>
            <span asp-validation-for="Id" class="small text-danger"></span>

            <div class="text-center" style="margin:auto; padding: 20px">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>

        </div>
    </div>
</form>

@{
    var rowCount = 1;
}

@if (Model.Id != 0)

{
    @if (Model.Id == 1)
    {
        <div class="row mb-5">
            <div class="col-md-6">
                <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
                   asp-controller="Stages"
                   asp-action="Index"
                   asp-route-currentPage="1"
                   asp-route-selectedSeats=""
                   asp-route-id="@Model.Id">Stalls</a>
            </div>

            <div class="col-md-6">
                <a class="btn btn-primary @(Model.CurrentPage == 2 ? "disabled" : string.Empty)"
                   asp-controller="Stages"
                   asp-action="Index"
                   asp-route-currentPage="2"
                   asp-route-selectedSeats=""
                   asp-route-id="@Model.Id">Gallery One</a>
            </div>

            <div class="col-md-6">
                <a class="btn btn-primary @(Model.CurrentPage == 3 ? "disabled" : string.Empty)"
                   asp-controller="Stages"
                   asp-action="Index"
                   asp-route-currentPage="3"
                   asp-route-selectedSeats=""
                   asp-route-id="@Model.Id">Gallery Two</a>
            </div>
        </div>
    }



    <form method="post">

        <div>
            <input type="hidden" asp-for="Id" value="@Model.Id">
            @if (Model.SelectedSeats != null)
            {
                <input type="hidden" asp-for="SelectedSeats" value="@Model.SelectedSeats">
            }

            @foreach (var seat in Model.Seats)
            {
                @if (seat.Row != rowCount)
                {
                    rowCount++;

                    <br>
                }


                @if (seat.IsSelected)
                {
                    <button class="btn btn-primary" type="submit" name="SelectedSeatId" value="@seat.Id">@seat.Number</button>
                }
                else
                {
                    <button class="btn btn-secondary" type="submit" name="SelectedSeatId" value="@seat.Id">@seat.Number</button>
                }

            }
        </div>
    </form>

}
