@using TheatreWebApp.Models.Plays

@model IEnumerable<PlaysListViewModel>

@{
    ViewData["Title"] = "All Plays";
}

<div class="text-center">
    <h1>Plays</h1>

    <p>
        <a asp-action="Add">Add Play</a>
    </p>
</div>




    <div class="row">
    @foreach (var play in Model)
    {
        <div class="col-sm-4">
            <div class="card mb-3 wd-24" style="padding: 5px">
                <img class="card-img-top" src="@play.ImageUrl" alt="@play.Name">
                <div class="card-body">
                    <h5 class="card-title">@play.Name</h5>
                    <p class="card-text">@play.ShortDescription</p>
                    <a class="btn btn-primary" asp-controller="Plays" asp-action="Details" asp-route-playId="@play.Id">Details</a>
                    <a class="btn btn-primary" asp-controller="Program" asp-action="All" asp-route-playId="@play.Id">Book now</a>
                    <a class="btn btn-primary" asp-controller="Plays" asp-action="Edit" asp-route-playId="@play.Id">Edit</a>
                </div>
            </div>
        </div>

    }
    </div>


