@using TheatreWebApp.Models.Plays

@model PlayDetailsViewModel

@{
    ViewData["Title"] = $"{Model.Name}";
}

<div class="col-lg-12">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="d-flex justify-content-center">
                <img class="d-block w-80" src="@Model.ImageUrl" alt="@Model.Name" />
            </div>
            
            <h1 class="text-center display-3">@Model.Name</h1>


            <div class="row d-flex justify-content-center">
                <div style="padding: 5px">
                    <a class="btn btn-primary" asp-controller="Program" asp-action="All" asp-route-playId="@Model.Id">Book now</a>
                </div>
                <div style="padding: 5px">
                    <a class="btn btn-primary" asp-controller="Plays" asp-action="Edit" asp-route-playId="@Model.Id">Edit</a>
                </div>
                @if (!Model.IsHidden)
                {
                    <div style="padding: 5px">
                        <a class="btn btn-primary" asp-controller="Plays" asp-action="Hide" asp-route-playId="@Model.Id">Hide</a>
                    </div>

                }
                else
                {
                    <div style="padding: 5px">
                        <a class="btn btn-primary" asp-controller="Plays" asp-action="Hide" asp-route-playId="@Model.Id">Unhide</a>
                    </div>
                }

            </div>
            <hr class="my-4">

            <div class="text-justify text-center">@Model.ShortDescription</div>
        </div>
    </div>

    <div class="mb-3"></div>

    <p class="text-center">@Model.Credits</p>

    <hr class="my-4">

    @foreach (var item in Model.Paragraphs)
    {
        <p class="text-center">@item</p>
    }

</div>



