@model IEnumerable<TheatreWebApp.Models.Program.ShowViewModel>

@{
    ViewData["Title"] = "All";
}

<h1>Program</h1>


<p>
    <a asp-action="Add">Add Show</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StageName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" asp-action="BookSeats" asp-route-id="@item.Id">Buy tickets</button>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
