@using TheatreWebApp.Models.Program

@model ShowBookingFormModel

@{
    ViewData["Title"] = "Book Seats";
}

<div class="col-sm-12 offset-lg-2 col-lg-8">
    <h1 class="text-center">@Model.PlayName</h1>

    <p class="text-center">@Model.StageName</p>

    <p class="text-center">@Model.Time</p>

    <p class="text-center">Avaliable seats: @Model.AvailableSeats.Count()</p>

    <p class="text-center">       
        @foreach (var seat in Model.AvailableSeats)
        {
            <span>@seat.Number</span>
        }
    </p>

    <p class="text-center">
        Taken seats:
        @foreach (var seat in Model.TakenSeats)
        {
            <span>@seat.Number</span>
        }

    </p>
</div>

@if (Model.Ticket == null)
{
    <div class="col-sm-12 offset-lg-2 col-lg-8">
        <form method="post">
            <div class="form-group">
                <label asp-for="SeatSelection">Select seats</label>
                <select asp-for="SeatSelection" multiple class="form-control">
                    @foreach (var seat in Model.AvailableSeats)
                    {
                        <option value="@seat.Id">@seat.Number</option>
                    }
                </select>
            </div>
            <input type="hidden" asp-for="ShowId" value="@Model.ShowId">
            <input type="submit" asp-controller="Program" asp-action="BookSeats" class="btn btn-primary" value="Book seats">
        </form>
    </div>
}
else
{
    <a class="btn btn-primary" asp-controller="Program" asp-action="Review" asp-route-ticketId="@Model.TicketId" role="button">Review order</a>
}



