@using TheatreWebApp.Models.Program

@model TicketViewModel

@{
    ViewData["Title"] = "Confirm reservation";
}

<div class="col-sm-12 offset-lg-2 col-lg-8">
    <h1 class="text-center">@Model.PlayName</h1>

    <p class="text-center">@Model.StageName</p>

    <p class="text-center">@Model.Time</p>

    <p class="text-center">
        Seats chosen:

        @(string.Join(", ", Model.SeatNumbers))
    </p>

    <p class="text-center">
        Final price:

        @Model.TotalPrice
    </p>
</div>
<div class="row">
        <a class="btn btn-primary" asp-controller="Program" asp-route-ticketId="@Model.TicketId" asp-action="Discard">Discard</a>
        <a class="btn btn-primary"asp-controller="Program" asp-route-ticketId="@Model.TicketId" asp-action="Confirm">Confirm</a>
</div>
